@font-face{
    font-family: 'VT323';
    src: url('../fonts/VT323-Regular.ttf');
}

.root{
    -fx-font-family: 'VT323';
    -fx-background-color: #43454f;
}

#prompt{
    -fx-alignment: center;
    -fx-font-size: 32px;
    -fx-text-fill: #bdbdbd;
}

#text-field{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-text-fill: #383332;
    -fx-highlight-fill: #383332;
    -fx-highlight-text-fill: #65788f;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-font-size: 40px;
}

#text-field .caret {
    -fx-caret-color: transparent;
    -fx-background-color: #383332;
    -fx-width: 8px;
    -fx-height: 1em;
    -fx-shape: "rect";
}